@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
.main2 {
  margin-top: 700px;
  border: 1px solid;
   

  &__box2 {
    align-items: center;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;

    &-h1 {
       
      color: var(--Dark-Blue, #232340);
      font-family: Lexend Deca;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
    }
    &-p {
      color: rgba(35, 35, 64, 0.9);
      font-family: Lexend Deca;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
    }
  }

  &__box {
    width: 460px;
    border: 2px solid red;
    // display: flex;

    &-link{
      display: flex;
      align-items: center;
      gap: 8px; 
      text-decoration: none;
      color: var(--Soft-Blue, #5468e7);
      font-family: Lexend Deca;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-decoration-line: underline;
    }

    &-img {
      width: 778px;
      height: 654px;
      border: 1px solid red;
      margin-left: 250px;
    }
  }
}

// MAIN 2 END

// MAIN 3 START

.main3 {
  margin-top: 80px;
  // border: 1px solid;

  &__box {
    display: flex;

    &-text {
      display: flex;
      width: 456px;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;

      &-h1 {
        margin-top: 80px;
        // align-self: stretch;
        color: var(--Dark-Blue, #232340);
        font-family: Lexend Deca;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
      }
      &-p {
        margin-top: -50px;
        color: rgba(35, 35, 64, 0.9);
        font-family: Lexend Deca;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: var(--Soft-Blue, #5468e7);
      font-family: Lexend Deca;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-decoration-line: underline;
    }
    &-img {
      width: 565px;
      height: 565px;
      margin-right: 100px;

      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
}

// MAIN 4 start

.main4 {
  margin-top: 80px;
  // border: 1px solid;

  &__box {
    display: flex;

    &-img {
      margin-left: 120px;
      width: 565px;
      height: 565px;
    }

    &-text {
      display: flex;
      width: 456px;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;

      &-h1 {
        margin-top: 80px;
        // align-self: stretch;
        color: var(--Dark-Blue, #232340);
        font-family: Lexend Deca;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
      }
      &-p {
        margin-top: -50px;
        color: rgba(35, 35, 64, 0.9);
        font-family: Lexend Deca;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: var(--Soft-Blue, #5468e7);
      font-family: Lexend Deca;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-decoration-line: underline;
    }
  }
}

// MAIN 5 start

.main5 {
  margin-top: 80px;
  // border: 1px solid;

  &__box {
    display: flex;

    &-text {
      display: flex;
      width: 456px;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;

      &-h1 {
        margin-top: 80px;
        // align-self: stretch;
        color: var(--Dark-Blue, #232340);
        font-family: Lexend Deca;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
      }
      &-p {
        margin-top: -50px;
        color: rgba(35, 35, 64, 0.9);
        font-family: Lexend Deca;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      color: var(--Soft-Blue, #5468e7);
      font-family: Lexend Deca;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      text-decoration-line: underline;
    }
    &-img {
      width: 565px;
      height: 565px;
      margin-right: 100px;

      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
}

// MAIN 6 start

.main6 {
 
  margin-bottom: 300px;
  h1 {
    text-align: center;
    color: var(--Dark-Blue, #232340);
    font-family: Lexend Deca;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; 
  }

  &__boxs{
    display: flex;
    gap: 30px;
  }

  &__box1 {
    width: 301px;
    // border: 1px solid;

    background: #fff;
    box-shadow: 0px 16px 24px 0px rgba(118, 118, 178, 0.24);
    display: flex;
    width: 367px;
    min-width: 260px;
    max-width: 367px;
    padding: 44px 33px;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;

    &-p {
      color: rgba(35, 35, 64, 0.9);
      font-family: Lexend Deca;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
    }
  }
  &__box1-1 {
    display: flex;
    &-img {
      display: flex;
      width: 56px;
      height: 56px;
      justify-content: center;
      align-items: center;
    }
    &-h2 {
      color: var(--Dark-Blue, #232340);
      font-family: Lexend Deca;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
    &-p {
      color: var(--Desaturated-Blue, #7676b2);
      font-family: Lexend Deca;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.14px;
    }
  }

  // 2 
  &__box2{
     
    margin-top: 50px;
      width: 301px;
      // border: 1px solid;
  
      background: #fff;
      box-shadow: 0px 16px 24px 0px rgba(118, 118, 178, 0.24);
      display: flex;
      width: 367px;
      min-width: 260px;
      max-width: 367px;
      padding: 44px 33px;
      flex-direction: column;
      align-items: flex-start;
      gap: 7px;
  
      &-p {
        color: rgba(35, 35, 64, 0.9);
        font-family: Lexend Deca;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
      }
    }
    &__box2-1 {
      display: flex;
      &-img {
        display: flex;
        width: 56px;
        height: 56px;
        justify-content: center;
        align-items: center;
      }
      &-h2 {
        color: var(--Dark-Blue, #232340);
        font-family: Lexend Deca;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
      &-p {
        color: var(--Desaturated-Blue, #7676b2);
        font-family: Lexend Deca;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.14px;
      }
    }

    // 3
    &__box3{
      margin-top: 50px;
        width: 301px;
        // border: 1px solid;
    
        background: #fff;
        box-shadow: 0px 16px 24px 0px rgba(118, 118, 178, 0.24);
        display: flex;
        width: 367px;
        min-width: 260px;
        max-width: 367px;
        padding: 44px 33px;
        flex-direction: column;
        align-items: flex-start;
        gap: 7px;
    
        &-p {
          color: rgba(35, 35, 64, 0.9);
          font-family: Lexend Deca;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
        }
      }
      &__box3-1 {
        display: flex;
        &-img {
          display: flex;
          width: 56px;
          height: 56px;
          justify-content: center;
          align-items: center;
        }
        &-h2 {
          color: var(--Dark-Blue, #232340);
          font-family: Lexend Deca;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
        }
        &-p {
          color: var(--Desaturated-Blue, #7676b2);
          font-family: Lexend Deca;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0.14px;
        }
      }
  }

  @media screen and (max-width: 900px) {
    
  }




